<html>
<head>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="icon" type="image/png" href="img/favicon.png" sizes="196x196">
  <base href="<%=basehref%>">
  <title>Deadbird :: Home</title>
</head>
<body>
  <autocomplete hidden><%-autocomplete%></autocomplete>
  <socket hidden><%-socket%></socket>
  <a href=""><h1 class="deadbirdtitle"><img id='deadbirdLogo' src='img/deadbird.svg'>Deadbird</h1></a>
  <% include navbar %>
  <% include pagination %>
  <div role="main" aria-labelledby="content-main-heading" class="content-main top-timeline-tweetbox" id="timeline">
    <div class="stream-container conversations-enabled " data-max-position="796955872979251200" data-min-position="796868124477968384">
    </div>
    <div class="stream" id="deadbirdStream">
      <ol class="stream-items js-navigable-stream" id="stream-items-id">
      <% for (let i = 0; i < tweets.length; i++) { %>
        <li class="js-stream-item stream-item stream-item" data-item-type="tweet" data-deleteTime="<%-tweets[i].info.birthtime%>">
        <%-tweets[i].timeline%>
        </li>
      <% } %>
      </ol>
      <ol class="hidden-replies-container">
        
      </ol>
    </div>
  </div>
  <script src="js/socket.io.min.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/general.js"></script>
  <script src="js/jquery-ui.min.js"></script>
</body>
</html>
