<html>
<head>
  <% include ../snippets/header %>
</head>
<body>
  <autocomplete hidden><%-autocomplete%></autocomplete>
  <socket hidden><%-socket%></socket>
  <statUpdate hidden><%-statUpdate%></statUpdate>
  <% include ../snippets/navbar %>
  <% include ../snippets/pagination %>
  <p class='center'>Last updated <span id='streamUpdate'>-</span> minutes ago</p><br>
  <div role="main" aria-labelledby="content-main-heading" class="content-main top-timeline-tweetbox" id="timeline">
    <div class="stream-container conversations-enabled " data-max-position="796955872979251200" data-min-position="796868124477968384">
    </div>
    <div class="stream" id="deadbirdStream">
      <ol class="stream-items js-navigable-stream" id="stream-items-id">
      <% for (let i = 0; i < tweets.length; i++) { %>
        <li class="js-stream-item stream-item stream-item" data-item-type="tweet" data-deleteTime="<%-tweets[i].info.deleteDate%>">
        <%-tweets[i].timeline%>
        </li>
      <% } %>
      </ol>
      <ol class="hidden-replies-container">
        
      </ol>
    </div>
  </div>
  <% include ../snippets/googleAnalytics %>
  <% include ../snippets/footer %>
</body>
</html>
