<%
  let total = {
    total: 0,
    deleted: 0
  };
  let countStats;
  try {
    countStats = JSON.parse(stats);
  } catch(e) {
    countStats = [];
  }
  for (let i = 0; i < countStats.length; i++) {
    total.deleted += countStats[i].deleted;
    total.total += countStats[i].added + countStats[i].deleted;
  }
%>
<html>
<head>
  <% include ../snippets/header %>
</head>
<body>
  <autocomplete hidden><%-autocomplete%></autocomplete>
  <socket hidden><%-socket%></socket>
  <stats hidden><%-stats%></stats>
  <statUpdate hidden><%-statUpdate%></statUpdate>
  <a href=""><h1 class="deadbirdtitle"><img id='deadbirdLogo' src='/img/deadbird.svg'>Deadbird</h1></a>
  <% include ../snippets/navbar %>
  <div id="deadbirdMain">
    <h1>Stats for <%=handle%></h1><br>
    <p><%=total.deleted%> of <%=total.total%> (<%=Math.floor((total.deleted/total.total)*10000)/100 || 0%>%) tweets have been deleted</p><br>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0px auto 25px"></div>
  </div>
  <% include ../snippets/googleAnalytics %>
  <% include ../snippets/footer %>
</body>
</html>
